.nav-link {
    display: flex;
    text-decoration: none; /* Optional: removes the underline from links */
    color: rgb(255, 255, 255); /* Optional: sets the text color of the links */
}

.navbar-nav {
    list-style: none;
    display: flex;
    column-gap: 3em;
}
  
.navbar-nav:after {
    display: inline-block;
}